@model HotelFE.Models.BitacoraModel

@{
    ViewData["Title"] = "VerDatosParaEdicion";
}

<h1>Edición de registros</h1>
<hr />
<hr />
<h4>Favor modificar la información requerida</h4>
<hr />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarRegistro" asp-controller="Bitacora" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" readonly="readonly" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioRegistro" class="control-label"></label>
                <input asp-for="UsuarioRegistro" class="form-control" />
                <span asp-validation-for="UsuarioRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccesionRealizada" class="control-label"></label>
                <input asp-for="AccesionRealizada" class="form-control" />
                <span asp-validation-for="AccesionRealizada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuloSistema" class="control-label"></label>
                <input asp-for="ModuloSistema" class="form-control" />
                <span asp-validation-for="ModuloSistema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar edición" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-conteroller="Bitacora">Retornar a lista principal</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
